In [1]:
import warnings
warnings.filterwarnings('ignore')

import yfinance as yf
import pandas as pd
import numpy as np
import altair as alt
import project_functions2 as pf
import multi_model_builder as mmb

In [2]:
googl = yf.Ticker('GOOGL')
amzn = yf.Ticker('AMZN')
aapl = yf.Ticker('AAPL')
fb = yf.Ticker('FB')
msft = yf.Ticker('MSFT')
tsla = yf.Ticker('TSLA')
stock_list = ['AMZN', 'AAPL', 'FB','GOOGL', 'MSFT', 'TSLA']

In [3]:
stock_objects = {}
for stock in stock_list:
    stock_objects[stock] = yf.Ticker(stock)

In [4]:
def combiner(stock_dfs):
    combine_df = stock_dfs[0]
    i = 1
    while i < len(stock_dfs):
        combine_df = pd.concat([combine_df, stock_dfs[i]])
        i += 1
    
    combine_df.sort_values(by=['Date'], inplace=True)
    return combine_df

In [5]:
aapl_df = aapl.history(period='max')
amzn_df = amzn.history(period='max')
fb_df = fb.history(period='max')
googl_df = googl.history(period='max')
msft_df = msft.history(period='max')
tsla_df = tsla.history(period='max')

stock_dfs = [aapl_df, amzn_df, fb_df, googl_df, msft_df, tsla_df]

for stock_df in stock_dfs:
    stock_df = pf.date_time_prep(stock_df) 
    stock_df = pf.rolling_aves(stock_df)
    stock_df = pf.future_close_setup(stock_df, 5)
    
combine_df = combiner(stock_dfs)

In [6]:
nn_df = mmb.train_multiple_neural_networks_scaler(combine_df, 365, stock_dfs, 1, 5, 50,
                                                  1000, layer_size_step=50, solver='adam')
nn_df

,Hidden Layer Size,Number of Hidden Layers,activation,Training Score,Test Score
0,50,1,identity,0.998311,0.996314
1,100,1,identity,0.998338,0.996216
2,150,1,identity,0.998282,0.996326
3,200,1,identity,0.998279,0.996020
4,250,1,identity,0.998272,0.996095
...,...,...,...,...,...
395,800,5,relu,0.997783,0.995483
396,850,5,relu,0.998467,0.993594
397,900,5,relu,0.997896,0.992273
398,950,5,relu,0.998402,0.995350
399,1000,5,relu,0.996197,0.992004

In [10]:
nn_df.iloc[nn_df['Test Score'].idxmax()]

Hidden Layer Size               150
Number of Hidden Layers           1
activation                 identity
Training Score             0.998282
Test Score                 0.996326
Name: 2, dtype: object

In [11]:
nn_df.sort_values(by=['Test Score'])

,Hidden Layer Size,Number of Hidden Layers,activation,Training Score,Test Score
197,900,5,logistic,-0.000069,-0.522973
193,700,5,logistic,-0.000041,-0.522164
278,950,4,tanh,-0.000032,-0.521836
296,850,5,tanh,-0.000023,-0.521487
169,500,4,logistic,0.000174,-0.521249
...,...,...,...,...,...
7,400,1,identity,0.998311,0.996230
10,550,1,identity,0.998313,0.996235
41,100,3,identity,0.997968,0.996247
0,50,1,identity,0.998311,0.996314
2,150,1,identity,0.998282,0.996326